@charset "UTF-8";

/*
    background-color: rgba(148, 148, 148, 0.476); Transparencia aplicada.
    background-color: rgb(148, 148, 148);    
    background-color: gray
    background-color: rgb(89, 88, 88);
*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    text-decoration: none;
}

html,
body {
    background-color: gray;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(89, 88, 88);
}

header h1 {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
}

header #iSpanMenu {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    cursor: pointer;
    background-color: rgb(89, 88, 88);
}

header #iSpanMenu:hover {
    background-color: rgba(148, 148, 148, 0.476);
}

nav {
    display: none;
    width: 100%;
}

nav a {
    display: block;
    background-color: rgb(148, 148, 148);
    color: white;
    text-align: center;
    padding: 10px;
    border-top: 2px solid gray;
}

nav a:hover {
    background-color: rgba(148, 148, 148, 0.476);
}

main {
    background-color: white;
    width: 90vw;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article>h2 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 20px;
}

article>p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}